<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        body{
            background: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1 style = "background: blue"><center>Creative Softwear Devloper</center></h1>
    <p> <img src='{{user_image}}' width="550" height="330" alt="Picture of me with my setup"/> </p>
    <h2 style = "font-size:larger;">About me:</h2> 
    Welcome to my website!
    <br/> 
    I am thrilled to introduce myself as a passionate junior college student pursuing a degree in software engineering. 
    <br/>
    With a fervent curiosity for technology and its transformative potential, I am driven to create innovative 
    <br/>
    solutions and push the boundaries of what's possible. Throughout my academic journey, I have developed a solid 
    <br/>
    foundation in programming languages, algorithms, and software development methodologies. Coupled with my relentless 
    <br/>
    desire to learn and grow, I am eager to embark on real-world projects and contribute to the ever-evolving field of software engineering. 
    <br/>
    Join me on this exciting journey as I strive to make a meaningful impact through code and creativity
    <br/>

    <h3 style="font-size:larger">Resume:</h3>
   
    <h4 style="font-size:larger">Portfolio links</h4>
</body>
</html>